body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,em,form,fieldset,legend,input,textarea,select {
	margin:0;
	padding:0;
	font-family: '宋体';
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
body {
	background: #ECF9F1;
}
#header {
	width: 100%;
	height: 191px;
	background: url('images/banner.png') ;
	margin: 0 auto;
}
#header .headerMain, #nav .nav ,#main {
	width: 960px;
	margin: 0 auto;
}
#header .headerMain .logo {
	width: 139px;
	height: 42px;
	margin-top: 5px;
	margin-left: 5px;
}
#header .headerMain .h1 {
	width: 794px;
	height: 87px;
	margin-left: 30px;
	margin-top: 20px;
}
#nav{
	width: 100%;
	height: 38px;
	background: #4CACF8;
}
#nav .nav .n1,.n2 {
	color: #fff;
	line-height: 38px;
	font-size: 14px;
}
#nav .nav a:hover{
	color: #c00;
}
#main{
	padding-top: 50px;
	padding-left: 75px;
	margin: 0 auto;
}
#main h1 {
	font-family: '微软雅黑';
	padding-left: 5px;
	font-weight: normal;
	width: 800px;
	height: 22px;
	font-size: 22px;
	line-height: 22px;
	border-left: 10px solid #EC670F;
}
#main .denglu {
	width: 809px;
	height: 353px;
	margin-top: 20px;
	box-shadow: 0 0 15px 2px #656565;
}
#main .denglu  form{
	padding-top: 20px;
	height: 31px;
	font-size: 16px;
	line-height: 31px;
	color: #000;
}
#main .denglu div {
	margin-top: 20px;
}
#main .denglu  form p{
	width: 154px;
	font-weight: bold;
	text-align: right;
	float: left;
}
#main .denglu  form input {
	width: 262px;
	height: 31px;
}
#main .denglu .d3{
	margin-top: 20px;
	display: block;
	width: 180px;
	height: 48px;
	border-radius: 5px;
	background: #2BB3F3;
	color: #fff;
	font-size: 18px;
	line-height: 48px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	margin-left: 90px;
}
#main .denglu a:hover {
	background: #8AB923;
}
#footer {
	width: 100%;
	margin-top: 20px;
	padding-top: 30px;
	border-top: 2px solid #CBD2CD;
}
#footer p{
	width: 285px;
	margin: 0 auto;
	color: #656565;
	font-size: 12px;
}
.clearfix:after {
	content: " ";
	display: block;
	clear: both;
}
